
<div class="div">
    <div class="row">
               <div class="col-xs-12">
            <h5>From GrantChild component   </h5>
            <div>
                
                <button class="btn btn-primary">Push Down</button>
                <input type="text" class="form-control" [(ngModel)] = "username"             >
            
            <input type="text" class="form-control"
            [(ngModel)] = "password">
            <button class="btn btn-primary"
            (click) = "onPullUp()">Pull Up</button>
    
        </div>
    </div>
</div>


